bin/
.classpath
.project

*.txt
*.sf2
*.zip
*.rar
*.jar
*.bat

# Eclipse-specific ignores
.settings/

# Gradle-specific ignores
.gradle
build
.kotlin

# Exclude Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

